# If python version is 3.6.8
# Bio==1.5.9
# easydict==1.10
# matplotlib==3.3.4
# more_itertools==9.1.0
# numpy==1.19.5
# scikit_learn==1.2.2
# scipy==1.5.4
# torch==1.10.2

# # If python version is 3.8.12
Bio==1.5.9
biopython==1.81
easydict==1.10
matplotlib
more_itertools==9.1.0
numpy
scikit_learn
scipy
torch